<ion-view cache-view="false" view-title="网址导航">

  <ion-content class="has-header">
		<ion-refresher
		    pulling-text="下拉刷新..."
		    on-refresh="doRefresh()">
		  </ion-refresher>
    <ion-list>
      <div class="item item-divider">
        热门网址
      </div>
			<div class="row feature-wrap" ng-repeat="feature in FeatureSites" ng-if="$index % 5 == 0" ng-init="featureIndex = $index">
			    <div ng-repeat="i in [0,1,2,3,4]" ng-if="(featureIndex + i) < FeatureSites.length" class="col-20 text-center">
			        <img width="42" ng-click="oLink(FeatureSites[featureIndex+i].SiteUrl)" ng-src="{{FeatureSites[featureIndex+i].image.url()}}">
		          <p>{{FeatureSites[featureIndex+i].SiteName}}</p>
			    </div>
			</div>

      <div class="item item-divider">
        网址分类
      </div>
      <ion-item ng-repeat="category in categories" class="category-wrap item-icon-right">
        {{category.CategoryName}} :
        <span ng-repeat="site in sites | filter: { Category: { CategoryName: category.CategoryName }}">
          <a ng-click="oLink(site.SiteUrl)">{{site.SiteName}}</a>
        </span>
        <a class="icon ion-chevron-right icon-accessory"
        href="#/category/{{category.id}}"
        nav-direction="enter"></a>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>